{% extends 'base.html' %}
{% block contenido %}
    <h1>Ligas</h1>
    <a href="{% url 'liga_create' %}">Crear nueva liga</a>
    <ul>
        {% for liga in ligas %}
            <li>
                <h2>{{ liga.nombre }}</h2>
                <p>Temporada: {{ liga.temporada.periodo }}</p>
                <p>Equipos: {{ liga.equipos.count }}</p>
                <a href="{% url 'liga_update' liga.id %}">Actualizar</a>
                <a href="{% url 'liga_delete' liga.id %}">Borrar</a>
            </li>
        {% empty %}
            <li>No hay ligas disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %}