{% extends 'base.html' %}
{% block contenido %}
    <h1>Entrenadores</h1>
    <a href="{% url 'entrenador_create' %}" class="btn btn-primary">Crear nuevo entrenador</a>
    <div class="list-group">
        {% for entrenador in entrenadores %}
            <div class="list-item clickable">
                <a href="{% url 'entrenador_detail' entrenador.id %}">
                    <h2>{{ entrenador.nombre }}</h2>
                    {% if entrenador.foto %}
                        <img src="{{ entrenador.foto.url }}" alt="Imagen de {{ entrenador.nombre }}" class="img-thumbnail">
                    {% else %}
                        <p>No hay imagen disponible</p>
                    {% endif %}
                    <div class="item-actions">
                        <span class="btn btn-secondary btn-small">Ver detalles</span>
                    </div>
                </a>
                <div class="item-controls">
                    <a href="{% url 'entrenador_update' entrenador.id %}" class="btn btn-light">Editar</a>
                    <a href="{% url 'entrenador_delete' entrenador.id %}" class="btn btn-light">Borrar</a>
                </div>
            </div>
        {% empty %}
            <div class="list-item">No hay entrenadores disponibles.</div>
        {% endfor %}
    </div>
{% endblock %}