{% extends 'base.html' %}
{% block contenido %}
    <h1>Equipos</h1>
    <a href="{% url 'equipo_create' %}">Crear nuevo equipo</a>
    <ul>
        {% for equipo in equipos %}
            <li>
                <h2>{{ equipo.nombre }}</h2>
                {% if equipo.foto %}
                    <img src="{{ equipo.foto.url }}" alt="Logo de {{ equipo.nombre }}"
                         style="max-width: 200px; max-height: 200px;">
                {% else %}
                    <p>No hay logo disponible</p>
                {% endif %}
                <p>Temporadas:
                    {% for temporada in equipo.temporadas_lista %}
                        {{ temporada }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        No asignado
                    {% endfor %}
                </p>

                <p>Ligas:
                    {% for liga in equipo.ligas_lista %}
                        {{ liga.nombre }} ({{ liga.temporada }}){% if not forloop.last %}, {% endif %}
                    {% empty %}
                        No asignado
                    {% endfor %}
                </p>
                <p>Jugadores: {{ equipo.jugadores.count }}</p>
                <p>Entrenadores: {{ equipo.entrenadores.count }}</p>
                <a href="{% url 'equipo_detail' equipo.id %}">Detalles</a>
                <a href="{% url 'equipo_update' equipo.id %}">Actualizar</a>
                <a href="{% url 'equipo_delete' equipo.id %}">Borrar</a>
            </li>
        {% empty %}
            <li>No hay equipos disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %}