{% extends 'base.html' %}
{% block contenido %}
    <h1>Equipos</h1>
    <a href="{% url 'equipo_create' %}" class="btn btn-primary">Crear nuevo equipo</a>
    <div class="list-group">
        {% for equipo in equipos %}
            <div class="list-item clickable">
                <a href="{% url 'equipo_detail' equipo.id %}">
                    <h2>{{ equipo.nombre }}</h2>
                    {% if equipo.foto %}
                        <img src="{{ equipo.foto.url }}" alt="Logo de {{ equipo.nombre }}" class="img-thumbnail">
                    {% else %}
                        <p>No hay logo disponible</p>
                    {% endif %}
                    <p>Temporadas:
                        {% for temporada in equipo.temporadas_lista %}
                            {{ temporada }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            No asignado
                        {% endfor %}
                    </p>
                    <p>Ligas:
                        {% for liga in equipo.ligas_lista %}
                            {{ liga.nombre }} ({{ liga.temporada }}){% if not forloop.last %}, {% endif %}
                        {% empty %}
                            No asignado
                        {% endfor %}
                    </p>
                    <p>Jugadores: {{ equipo.jugadores.count }}</p>
                    <p>Entrenadores: {{ equipo.entrenadores.count }}</p>
                    <div class="item-actions">
                        <span class="btn btn-secondary btn-small">Ver detalles</span>
                    </div>
                </a>
                <div class="item-controls">
                    <a href="{% url 'equipo_update' equipo.id %}" class="btn btn-light">Editar</a>
                    <a href="{% url 'equipo_delete' equipo.id %}" class="btn btn-light">Borrar</a>
                </div>
            </div>
        {% empty %}
            <div class="list-item">No hay equipos disponibles.</div>
        {% endfor %}
    </div>
{% endblock %}