{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTeam</title>
    <link rel="manifest" href="{% url 'manifest' %}">
    <link rel="icon" href="{% static 'icons/RTeam.png' %}" type="image/x-icon">
</head>

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{% url 'serviceworker' %}")
            .then(function (reg) {
                console.log("Service Worker registrado", reg);
            });
    }
</script>
<body>

<h1>RTeam</h1>
<div>
    {% block contenido %}
    {% endblock %}
</div>
</body>
</html>