{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTeam</title>
    <link rel="manifest" href="{% url 'manifest' %}">
    <link rel="icon" href="{% static 'icons/RTeam.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{% url 'serviceworker' %}")
            .then(function (reg) {
                console.log("Service Worker registrado", reg);
            });
    }
</script>
<body>

<h1>RTeam</h1>
<div>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'temporada_list' %}">Temporadas</a></li>
            <li><a href="{% url 'liga_list' %}">Ligas</a></li>
            <li><a href="{% url 'equipo_list' %}">Equipos</a></li>
            <li><a href="{% url 'jugador_list' %}">Jugadores</a></li>
            <li><a href="{% url 'entrenador_list' %}">Entrenadores</a></li>
        </ul>
    </nav>
    {% block contenido %}
    {% endblock %}
</div>
</body>
</html>