{% extends 'base.html' %}
{% block contenido %}
    <h1>Jugadores</h1>
    <ul>
        {% for jugador in jugadores %}
            <li>
                <h2>{{ jugador.nombre }}</h2>
                <img src="{{ jugador.foto.url }}" alt="Imagen de {{ jugador.nombre }}"
                     style="max-width: 200px; max-height: 200px;">
                <p>Posición: {{ jugador.posicion }}</p>
                <a href="{% url 'jugador_detail' jugador.id %}">Ver detalles</a>
            </li>
        {% empty %}
            <li>No hay jugadores disponibles.</li>
        {% endfor %}
    </ul>
    <!-- <a href="{ url 'jugador_create' %}">Crear nuevo jugador</a> -->
{% endblock %}